extend ./layout

block content
	.lista-cards
		each post in posts
			.cards
				a(href=`/posts/${post.handle}`).links #{post.titulo}
				p.autor #{post.autor}
				p.autor #{post.fecha}
				p.descripcion #{post.descripcion}
