extend ./layout

block content
	.presentacion
		h1 Estimados lectores
		p.parrafo Presento a ustedes mi blog 'Polímata Accidental' cuya finalidad es ejercitar la opinología basada en evidencia y compartir artículos interesantes de terceras personas traducidos al castellano si fuere necesario.

		p.parrafo Sí, sí, sí... Sé que el nombre del blog suena pretencioso, pero como suena interesante, prefiero conservarlo tal cual.

	.lista-cards
		each post in posts
			.cards
				h3 #{post.titulo}
				p.autor #{post.autor}
				p.autor #{post.fecha}
				p.descripcion #{post.descripcion}
				a(href=`/posts/${post.handle}`) Ver post
