extend ../layout.pug

block content
  .titulopost
    h1 El Árbol de la Vida

  .parrafopost
    p El rápido surgimiento de la enfermedad Covid19 en este 2020 me hace recordar que siempre me ha interesado la variedad de vida presente en nuestro planeta Tierra y la posibilidad cierta de vida en otros planetas o dimensiones. En este post busco mostrar las formas de vida conocidas en nuestro planeta según la última clasi&shy;ficación vigente (Ruggiero et al, 2015). Para quienes deseen profundizar más, existe una base de datos que enumera actual&shy;men&shy;te el 92% de todas las especies conocidas por los investigadores (Catalogue of Life, 2020).
    h3 Qué es la vida
    p El concepto de vida ha generado múltiples definiciones de parte de la comunidad científica especializada. Muchas de ellas, en estricto rigor, no son definiciones sino más bien una lista de atributos comunes que muestran todos los seres vivos conocidos actual&shy;men&shy;te. Ante esta situación, propongo formalmente definir el fenómeno de la vida como <span class=cursiva>cualquier sistema autopoiético cuya estructura física está construida en base a componentes bioquímicos</span> (Polímata Accidental, 2020). Esta definición propuesta usa el concepto de autopoiesis como base central.
    p La autopoiesis es cualquier proceso de red de producción (transfor&shy;mación y destrucción) de componentes que (i) a través de sus interacciones y transformaciones regenera continuamente la red de procesos y relaciones que la producen, (ii) constituyen a la máquina como una unidad concreta en el espacio en el que sus componentes existen especificando el dominio topológico de su realización como tal red de procesos (Maturana & Varela, 1972).
    p Para clarificar esta definición, Varela (2000) publica un algoritmo simple basado en 3 criterios de validación que permiten separar un sistema autopoiético del que no lo es:
    p <span class=span> Borde semipermeable. </span> Verifique que el sistema se define por un límite o borde semipermeable constituido por componentes mole&shy;cula&shy;res que permite discriminar entre el interior y el exterior del sistema en relación con los componentes relevantes del sistema. Si es así, proceda con el segundo criterio.
    p <span class=span>Red de reacciones.</span> Verifique que los componentes de la barrera son producto de una red de reacciones que opera al interior de la barrera. Si la respuesta es afirmativa, proceda con el tercer criterio.
    p <span class=span>Interdependencia.</span> Verifique que la red de reacciones es regene&shy;rada por condiciones producidas por la existencia de la misma barrera, es decir, que 1 y 2 son interdependientes. Si es así, el sistema es autopoiético.

    p Desde la aparición de los primeros organismos vivos en nuestro planeta, se ha desarrollado una enorme variedad de especies diferentes que cumplen roles dentro de lo que llamamos ecosis&shy;te&shy;mas. Esta variedad ha sido conceptualizada en las siguientes categorías (Ruggiero et al, 2015).
    h3 Súperreino Eucariota
    p <span class=span>Reino Plantae.</span> Comúnmente conocidas como plantas, los miembros de este reino muestran un metabolismo basado en la luz del sol (fotosíntesis), sus células muestran paredes compuestas principalmente de celulosa. 
    p <span class=span>Reino Animalia.</span> Los seres vivos clasificados como animales comparten una serie de atributos, por ejemplo, su forma de nutrirse es ingresando alimento dentro del cuerpo para transformarlo allí en nutrientes y energía. Su metabolismo se basa en en el consumo de oxígeno. Su estilo de reproducción es sexual, lo que da origen al desarrollo de un embrión. Su cuerpo visible siempre es pluricelular. 
    p <span class=span>Reino Fungi.</span> Los miembros de este reino son hongos, cuyos atributos basales distintivos son sus paredes celulares compuestas por un material llamado quitina, su alimentación es heterótrofa (es decir, ingieren su alimento). Su reproducción es sexual o asexual según la especie. Algunas especies pueden ser confundidas con plantas debido a su aspecto exterior.
    p <span class=span>Reino Cromista.</span> Esta categoría engloba a las algas cromofitas, cuyas características comunes entre sí son su metabolismo que funciona a través del proceso de fotosíntesis, y su cubierta exterior que guarda cierto parecido a los exoesqueletos de los insectos.
    p <span class=span>Reino Protozoa.</span> Los protozoos son organismos unicelulares en su gran mayoría, y pluricelulares que no muestran tejidos de células reales. Carecen de cubierta externa. Su alimentación se basa en la ingesta de otros protozoos o de bacterias. Su respiración es aeróbica en la mayoría de los casos.
    h3 Súperreino Procariota
    p <span class=span>Reino Eubacteria.</span> Las eubacterias (o simplemente bacterias) son organismos unicelulares que carecen de núcleo definido y cuya pared celular se compone de lípidos y peptidoglicano. La mayoría de las bacterias son de tamaño microscópico entre 0.5 y 5 micrómetros. Sin embargo, existen bacterias tan pequeñas como un virus grande, y otras poquísimas bacterias tan grandes como 0.75 milímetros (Thiomargarita namibiensis), por lo que puede verse a simple vista :o.
    p <span class=span>Reino Archaea.</span> Se trata de organismos unicelulares en muchos sentidos parecidos a las eubacterias, sin embargo se diferencian de éstas en la composición de su membrana lipídica basada en lípidos con enlaces químicos tipo éter (en vez de éster) y en que el conjunto de genes de la célula arquea traduce y transcribe su información genética de una forma más parecida a las células eucariotas (animales, plantas, etc) que a las eubacterias. Muchas de ellas son capaces de sobrevivir en ambientes extremos, aunque existen bacterias que también pueden hacerlo.
    h3 Un súperreino en las sombras?
    p Existe una variedad de entidades biológicas que se consideran actualmente fuera del árbol de la vida aunque bajo ciertas condiciones muestran algunos atributos de los seres vivos.
    p <span class=span>Virus.</span> Los virus son agentes infecciosos submicroscópicos que se replican sólo dentro de células vivas de un organismo. La mayor cantidad de conocimiento científico acerca de los virus se ha recabado recién en la segunda mitad del siglo 20 gracias a la invención y perfeccio&shy;na&shy;mien&shy;to del microscopio electrónico y las técnicas de cristalografía. Éstas permiten estudiar con mucha mayor precisión la estructura de los virus.
    p La estructura básica de los virus se deglosa en un cápside (envoltura) y el material genético (ARN o ADN). Cuando los virus se encuentran en tránsito o estacionados fuera de entidades vivas, se les llama viriones.
    p Los virus infectan todo tipo de formas de vida (animales, plantas, hongos, cromistas, protozoos, eubacterias, arqueobacterias).
    p <span class=span>Viroides.</span> Además de los virus, existen otra forma de agente infeccioso submicroscópico llamados viroides.
    h3 Conclusión
    p La simple inspección de las categorías expuestas da luces acerca de la enorme variedad del fenómeno de la vida alrededor de nosotros. Además, entrega indicios acerca del grado de complejidad necesarios para permitir la sola existencia de seres vivos (personas, gatos, perros, aves, etc.). 
    p Espero que este artículo sirva de precedente para revalorar la maravillosa complejidad del fenómeno de la vida y para revalorar los esfuerzos que muchas personas han hecho, a través de la exploración e investigación científica, para colocar a disposición del público general estos trozos de conocimiento sólido. 

    p.titulobiblio Bibliografía
    .biblio
      p Catalogue of Life. (2020). Disponible en https://catalogueoflife.org
      p Maturana, H; Varela, F. (1972). Autopoiesis and Cognition: The Realization of the Living. Boston: Reidel
      p Polímata Accidental. (2020). Comunicación personal
      p Ruggiero, M; Gordon, D; Orrell, T; Bailly, N; Bourgoin, T; Brusca, R; Cavalier-Smith, T; Guiry, M; Kirk, P; Thuesen, E. (2015). "A Higher Level Classification of All Living Organisms". PLOS ONE. 10 (4). Disponible en https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0119248
      p Varela, F (2000). El Fenómeno de la Vida. Santiago: Dolmen